@import "./component/normalayze.scss";
@import "./component/bose.scss";
@import "./component/wrap.scss";
@import "./component/hero.scss";
@import "./component/container.scss";



.body {
    margin: 0;

}
.container {
     max-width: 1240px;
     margin: 0 auto;
}